.slide .box {
  display: flex !important;
  margin-bottom: 30px;
}

.slide .img {
  width: 320px;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
}

.slide img {
  width: 100%;
  height: 100%;
}

.slide .text {
  width: 50%;
  padding: 30px 0 40px 30px;
}

.slick-dots li button::before {
  font-size: 50px;
}

.slick-dots li.slick-active button:before {
  color: black !important;
}

/*----------card two----*/




@media only screen and (max-width: 768px) {
  .slide .img {
    width: 300px;
    height: 300px;

  }

  .slide .text {
    width: 60%;
    padding: 10px 0 10px 20px;
    font-size: 14px;
  }

  .slide .text h2 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 480px) {
  .slide .img {
    width: 250px;
    height: 250px;

  }

  .slide .text {
    width: 65%;
    padding: 10px 0 10px 15px;
    font-size: 13px;
  }

  .slide .text h2 {
    font-size: 22px;
    line-height: 20px;
  }
}